<!-- snippets/heading_page.liquid -->
{%- liquid
  assign tagName = "h1"
  capture heading_title
    case request.page_type
      when 'page'
        echo page.title | default: page_title | escape
      when 'customers/login'
        echo 'customer.log_in' | t
      when 'customers/register'
        echo 'customer.register.title' | t
      when 'customers/activate_account'
        echo 'customer.activate_account.title' | t
      when 'customers/reset_password'
        echo 'customer.reset_password.title' | t
      when 'customers/order'
        echo 'customer.order.title' | t: name: order.name
      when 'customers/addresses'
        echo 'customer.addresses.title' | t
      when 'customers/account'
        echo 'customer.account.title' | t
      when 'blog'
        echo blog.title | escape
      when 'search'
        if template == 'search.compare'
          echo 'compare_page.title' | t
        elsif template == 'search.wishlist'
          echo 'general.wishlist.wishlist_page' | t
        endif
      else
        echo page_title | escape
        if request.page_type == "policy"
          assign tagName = "p"
          echo "<style>.shopify-policy__title{display: none !important}</style>"
        endif
    endcase
  endcapture
-%}
{%- if section.blocks.size > 0 -%}
  <div class="hdt-container">
    <div class="hdt-main-heading hdt-flex hdt-flex-col hdt-text-center hdt-align-center hdt-spacing_hd hdt-relative">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '1' -%}
            {%- assign heading_titles = block.settings.heading | default: heading_title -%}
            <{{ tagName }} class="hdt-heading-template-text hdt-{{ block.settings.heading_size }} hdt-s-text">
              {{ heading_titles }}
            </{{ tagName }}>
          {%- else -%}
            <nav class="hdt-breadcrumb" role="navigation" aria-label="breadcrumbs">
              {% include 'breadcrumb' %}
            </nav>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}
