.hdt-media-overlap-content .hdt-hero-image__content-wrap {
  height: 100%;
}

.hdt-hero-image__content-box {
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
}

.hdt-hero-image__content-bg--true>.hdt-hero-image__content-box {
  padding: 2rem 1.5rem;
  background: rgb(var(--color-background));
  background: var(--gradient-background);
  border-radius: var(--rounded)
}

.hdt-hero-image__content-box .hdt-hero-image__heading+.hdt-hero-image__heading {
  margin-top: 1.6rem;
}

.hdt-hero-image__content-box>*+* {
  margin-top: 2rem;
}

.hdt-hero-image__content-box>*:first-child {
  margin-top: 0;
}

.hdt-hero-image__overlay--true:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgb(var(--color-overlay));
  opacity: 0.2;
}

.hdt-hero-image__countdown.hdt-countdown {
  --cd-bdr: var(--rounded-full);
  --cd-item-w: var(--spacing-6);
  --cd-item-h: var(--spacing-6);
}

.hdt-hero-image__countdown .hdt-cd-heading {
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-1-6);
}

.hdt-hero-image__countdown .hdt-countdown__inner {
  display: inline-flex;
  gap: var(--spacing-1);
}

.hdt-hero-image__countdown .hdt-countdown__amount {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.hdt-hero-image__countdown .hdt-countdown__text {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
}
.hdt-infinite-loop-slider-section .hdt-row-flex .hdt-col{
  width: calc(100vw / var(--cols) - (var(--spacing-x, 0px) * calc(var(--cols) - 1) / var(--cols)));
}
.hdt-infinite-loop-slider-section .hdt-media-overlap-content{
  --media-overlap-content-gap-c:0px;
  --media-overlap-content-gap-r:0px;
}
.hdt-infinite-loop-slider-section .hdt-row-flex{
  --spacing-x:0px;
  --spacing-y:0px;
  flex-wrap: nowrap;
}
.hdt-infinite-loop-slider-section .hdt-media-overlap-content hdt-marquee{
  width: 100%;
  max-width: 100%;
  text-align: inherit;
  line-height: 0;
}
.hdt-infinite-loop-slider-section .hdt-media-wrapper svg,
.hdt-infinite-loop-slider-section .hdt-media-wrapper img{
  grid-area: full-r-start / full-c-start / full-r-end / full-c-end;
  height: var(--media-overlap-content-h, auto);
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  overflow-wrap: anywhere;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
.hdt-infinite-loop-slider-section .hdt-media-wrapper{
  display: contents;
}
.hdt-infinite-loop-slider-section .hdt-hero-image__content-wrap{
  padding-top:min(5vw, 50px);
  padding-bottom: min(5vw, 50px);
} 
@media(max-width: 767px) {
  .hdt-hero-image :where(h1:not(.hdt-h1, .hdt-h2, .hdt-h3, .hdt-h4, .hdt-h5, .hdt-h6), .hdt-h1) {
      font-size: calc(var(--font-heading-scale) * 3.4rem);
  }
  .hdt-infinite-loop-slider-section.md\:hdt-height--adapt_image .hdt-media-overlap-content :is(img,svg),
  .hdt-infinite-loop-slider-section.md\:hdt-height--adapt_image_first .hdt-media-overlap-content :is(img,svg){
    aspect-ratio: var(--aspect-ratioapt, auto);
  }
  .hdt-infinite-loop-slider-section.md\:hdt-height--adapt_image .hdt-media-overlap-content :is(img,svg){
    min-height: auto;
  }
}

@media(min-width: 768px) {
  .hdt-hero-image__content-bg--true>.hdt-hero-image__content-box {
      padding: 4rem 2rem;
  }
  .hdt-hero-image__content-box>*+.hdt-hero-image__text {
      margin-top: 2.5rem;
  }
  .hdt-hero-image__content-box>*+.hdt-hero-image__button {
      margin-top: 3.6rem;
  }
  .hdt-hero-image__content-bg--true>.hdt-hero-image__content-box {
      width: auto;
      max-width: 70.5rem;
      min-width: 45rem;
  }
  .hdt-hero-image__countdown.hdt-countdown {
      --cd-item-w: var(--spacing-9);
      --cd-item-h: var(--spacing-9);
  }
  .hdt-hero-image__countdown .hdt-countdown__inner {
      gap: var(--spacing-1-6);
  }
  .hdt-hero-image__inner.hdt-media-overlap-content {
      --container-max-width: var(--container-max-width-padding-md);
  }
  .hdt-infinite-loop-slider-section.md\:hdt-height--adapt_image .hdt-media-overlap-content :is(img,svg),
  .hdt-infinite-loop-slider-section.md\:hdt-height--adapt_image_first .hdt-media-overlap-content :is(img,svg){
    aspect-ratio: var(--aspect-ratioapt-md, auto);
  }
  .hdt-infinite-loop-slider-section.md\:hdt-height--adapt_image .hdt-media-overlap-content :is(img,svg){
    min-height: auto;
  }
}

@media(min-width: 1150px) {
  .hdt-hero-image__content-bg--true>.hdt-hero-image__content-box {
      padding: 8rem 4.4rem;
      min-width: 54.6rem;
  }
  .hdt-hero-image__countdown .hdt-countdown__amount {
      font-size: 3.2rem;
  }
  .hdt-hero-image__countdown .hdt-countdown__text {
      font-size: 1.2rem;
      letter-spacing: 0.06rem;
  }
  .hdt-hero-image__inner.hdt-media-overlap-content {
      --container-max-width: var(--container-max-width-padding-lg);
      --media-overlap-content-gap-c: 0;
  }
}